/*
NoMethodError: undefined method `empty?' for nil:NilClass

Backtrace:
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/tree/root_node.rb:23:in `render'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/engine.rb:240:in `render'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/rack-1.3.2/lib/rack/lint.rb:48:in `_call'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/rack-1.3.2/lib/rack/lint.rb:36:in `call'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/rack-1.3.2/lib/rack/showexceptions.rb:24:in `call'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/rack-1.3.2/lib/rack/commonlogger.rb:20:in `call'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/rack-1.3.2/lib/rack/chunked.rb:41:in `call'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/rack-1.3.2/lib/rack/content_length.rb:14:in `call'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/rack-1.3.2/lib/rack/handler/webrick.rb:59:in `service'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/2.1.0/webrick/httpserver.rb:138:in `service'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/2.1.0/webrick/httpserver.rb:94:in `run'
/Users/conrad/.rbenv/versions/2.1.1/lib/ruby/2.1.0/webrick/server.rb:295:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "NoMethodError: undefined method `empty?' for nil:NilClass"; }
